@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1f2937;
    margin-top: 40px;
    margin-bottom: 60px;
}

.Gill-Sans{
    font-family: 'Gill Sans', sans-serif;
}

img {
    border-radius: 5%;
    position: relative;
}

.image{
    position: relative;
    /* width: inherit; */
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -10;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    z-index: -9;
}

.image-img :hover{
    opacity: 0.3;
}

/* .underlayer{
    position: relative;
} */